@inherits LayoutComponentBase

<RadzenComponents @rendermode="InteractiveWebAssembly" />

<RadzenLayout>

    <RadzenHeader class="shadow-none">
        <RadzenStack Orientation="Orientation.Horizontal">
            <RadzenSidebarToggle Click="@(() => _sidebarExpanded = !_sidebarExpanded)" />
            <RadzenRow AlignItems="AlignItems.Center">
                Customer Database
            </RadzenRow>
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar Responsive="false"
                   Style="width: max-content">
        <RadzenPanelMenu DisplayStyle="@(_sidebarExpanded ? MenuItemDisplayStyle.IconAndText : MenuItemDisplayStyle.Icon)"
                         ShowArrow="@_sidebarExpanded">

            <RadzenPanelMenuItem Icon="home"
                                 Path="/"
                                 Text="Home" />

            <RadzenPanelMenuItem Icon="tag"
                                 Path="/status"
                                 Text="Status" />

            <RadzenPanelMenuItem Icon="sunny"
                                 Path="/weather"
                                 Text="Weather" />

            <RadzenPanelMenuItem Icon="tag"
                                 Path="/counter"
                                 Text="Counter" />

            <RadzenPanelMenuItem Icon="tag"
                                 Path="/countries"
                                 Text="Countries" />

            <RadzenPanelMenuItem Icon="tag"
                                 Path="/customers"
                                 Text="Customers" />
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <div class="p-4">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>
        <GlasOrbitFooter AppName="Glas Orbit - Administration" />
    </RadzenFooter>
</RadzenLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a class="reload"
       href="">
        Reload
    </a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool _sidebarExpanded = true;
}